<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sticky and His Bikes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>
	<script src="../javascripts/ending.js"></script>
    <!-- Le styles -->
    <link href="../styles/bootstrap.css" rel="stylesheet">
    <link href="../styles/ending.css" rel="stylesheet">
    <link href="../styles/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/itemInfoMessage.css">
  </head>

  <body>
  	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  	<h1>Congratulations!</h1>  
  	<h2>You made <span id="number"></span> good decisions.</h2>
  	<h3>Here are the bikes you saw today:</h3>
  	<div id="bikes">
  		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					Bikes you bought
					</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					Bikes you didn't buy
					</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
				</div>
			</div>
		</div>
  	</div>
  	<script>getBikes();</script>
  	<div id="button">
		<a href="../views/index.html" class="btn btn-large btn-warning">Start a new game</a>
	</div>
  </body>

</html>
