<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sticky and His Bikes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>
	<script src="../javascripts/ending.js"></script>
    <!-- Le styles -->
    <link href="../styles/bootstrap.css" rel="stylesheet">
    <link href="../styles/ending.css" rel="stylesheet">
    <link href="../styles/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
  	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
  	<h1>Congratulations!  You made x good decisions.</h1>
  	<h3>Here are the bikes you saw today:</h3>
  	<script>getBikes();</script>
  	<div id="bikes"></div>
  	<div id="button">
		<a href="../views/index.html" class="btn btn-large btn-warning">Start a new game</a>
	</div>
  </body>

</html>
