<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sticky and His Bikes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>
	<script src="../javascripts/index.js"></script>
	<script src="../javascripts/itemInfoMessage.js"></script>
    <!-- Le styles -->
    <link href="../styles/bootstrap.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
  	<div id="myModal" class="modal hide fade">
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    	<h3>You've finished!</h3>
	    </div>
	    <div class="modal-body">
	    	<p>Click below to see how you did.</p>
	    </div>
	    <div class="modal-footer">
	    	<a href="../views/ending.html" class="btn">Continue</a>
	    </div>
    </div>
    
	<div id="divs">
		<div class="outer top side" id="sticky1">
			<img src="../images/puppy64pxGIFdirt.gif"/>
		</div>	
		<div class="outer top" id="sticky2">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer top" id="sticky3">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer top" id="sticky4">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer top" id="sticky5">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer" id="sticky10">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer" id="sticky9">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer" id="sticky8">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer" id="sticky7">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer" id="sticky6">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky11">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky12">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky13">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky14">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky15">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle2" id="sticky20">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle2" id="sticky19">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle2" id="sticky18">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle2" id="sticky17">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle2" id="sticky16">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky21">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky22">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky23">
			<img class="hiding" src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky24">
			<img class="hiding"  src="../images/puppy64pxGIFdirt.gif"/>
		</div>
		<div class="outer middle" id="sticky25">
			<img class="hiding"  src="../images/puppy64pxGIFdirt.gif"/>
			<img src="../images/starTransparent.png"/>
		</div>
	</div>
	
	
	<div style="position:absolute; top:90%; left:50%;">
		<button id="start" style="position:relative;" class="btn btn-warning btn-large">Start Game</button>
	</div>

   

  </body>
