<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Biker Pup Buy E'm Up</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <script src="../javascripts/jquery.js"></script>
<script src="../javascripts/secret.js"></script>
<script src="../controllers/apicontroller.js"></script>
<script src="../javascripts/index.js"></script>
<script src="../javascripts/bootstrap.js"></script>
	<script src="../javascripts/itemInfoMessage.js"></script>
	<script>var count = localStorage.getItem("Count");</script>
    <!-- Le styles -->
    <link href="../styles/bootstrap.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body onload="placeFigure()">
  	<div id="myModal" class="modal hide fade">
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    	<h3>You've finished!</h3>
	    </div>
	    <div class="modal-body">
	    	<p>Click below to see how you did.</p>
	    </div>
	    <div class="modal-footer">
	    	<a href="../views/ending.html" class="btn">Continue</a>
	    </div>
    </div>
	
	
	<div style="position:absolute; top:90%; left:50%;">
		<button id="start" style="position:relative;" class="btn btn-warning btn-large">Continue</button>
	</div>

  

  </body>
