<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sticky and His Bikes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>
	<script src="../javascripts/index.js"></script>
    <!-- Le styles -->
    <link href="../styles/bootstrap.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
	<div id="divs">
		<div class="outer" id="sticky1">
			<img src="../images/stickfigureTransparent.png"/>
		</div>	
		<div class="outer" id="sticky2">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky3">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky4">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky5">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky10">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky9">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky8">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky7">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky6">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky11">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky12">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky13">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky14">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky15">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky20">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky19">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky18">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky17">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky16">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky21">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky22">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky23">
			<img class="hiding" src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky24">
			<img class="hiding"  src="../images/stickfigureTransparent.png"/>
		</div>
		<div class="outer" id="sticky25">
			<img class="hiding"  src="../images/stickfigureTransparent.png"/>
		</div>
	</div>
	
	
	<div style="position:absolute; top:90%; left:50%;">
		<button id="start" style="position:relative;" class="btn btn-warning">Start Game</button>
		<button style="position:relative;" class="btn btn-warning" onclick="placeFigure()">New Game</button>
	</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    

  </body>
</html>