<!DOCTYPE html>
<html>
<head>
<script src="../javascripts/index.js"></script>
<script src="../javascripts/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="../styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../styles/itemInfoMessage.css">

</head>

<body>
<h2 class="header">Which item would you like to purchase?</h2>
<table class="itemListing">
	<thead class="frame-heading">
		<tr>
			<th style='text-align:left'><span class="itemHeader">Bike 1</span></th>
			<th style='text-align:right'><span class="price">$XXX</span></th>
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td><img src="../images/bike.jpg" class="itemImage"></span></td>
			<td ><span class="details">Details go here</span></td>
		</tr>
	</tbody>
</table>
<table class="itemListing">
	<thead class="frame-heading">
		<tr>
			<th style='text-align:left'><span class="itemHeader">Bike 2</span></th>
			<th style='text-align:right'><span class="price">$XXX</span></th>
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td><img src="../images/bike.jpg" class="itemImage"></span></td>
			<td ><span class="details">Details go here</span></td>
		</tr>
	</tbody>
</table>
<div style="text-align: center"><button type="button" onClick="closePopUp()" class="btn btn-success">CLOSE</button></div>
</body>
</html>