<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>start</title>
		<meta name="author" content="Andrew" />
		<!-- Date: 2014-02-07 -->
		<link href="../styles/bootstrap.css" rel="stylesheet">
    	<link href="../styles/start.css" rel="stylesheet">
    	<link href="../styles/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		
	<div style="position:absolute; top:10%; left:40%;">
		<button onclick="window.location.href='index.html'" style="text-align: center" class="btn btn-warning btn-large">Start Game</button>
	</div>
	<div class="Image">
        <a href="index.html" ></a>
         <image src="../images/start_buttonTransparent2.png"></image>
    </div>

	</body>
</html>

