body {
	background-image: url('../images/textscreen2.png');
	background-repeat: repeat-y;
	background-size: cover;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
}

#button {
	margin-top: 10%;
	text-align:center;
}

.small {
	max-width: 200px;
	max-height: 150px;
}

#collapseOne {
	background-color: white;
}

#collapseTwo {
	background-color: white;
}

.accordion-heading {
	background-color: #C0C0C0;
}
