body {
	background-image: url('../images/textscreen2.png');
	background-repeat: no-repeat;
	background-size: cover;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
}

#button {
	margin-top: 10%;
	text-align:center;
}
