table thead tr{
	border: black solid 1px;
}
.itemListing{
	border: black solid 1px;
	width: 600px;
	height: auto;
	padding: 15px;
	margin: 10px;
}
.frame-header{
	border: black solid 1px;
	margin: 10px;
}
.itemHeader{
	font-weight: bold;
	padding-left: 10px;
}

.price {
	padding-left: 50px;
	padding-right: 10px;
	margin: 10px;	
}
.price:before {
   content: "$";
 }
.itemImage{
	border: black solid 1px;
	padding: 10px;
	margin: 10px;
	width: 300px;
	height: 200px;
}
.header{
	text-align:center;
	font-weight: bold;
	margin-left:30px;
}
.details{
	text-align: left;
	padding: 5px;
	max-width: 250px;
	height: auto;

}
