body {
	background-image: url('../images/mapNoBushes.png');
	background-repeat: no-repeat;
	background-size: cover;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
}

#divs {
	margin: auto;
  	height: 100%;
  	width: 100%
}

.outer {
	text-align: center;
	position: relative;
    float: left;
    width: 20%;
    height: 18.5%;
    display:inline-block;
}

.top {
	margin-top: 5%;
}


.hiding {
	display:none;
}
